/* Start Variables */
:root{
    --main-color: #10cab7;
    --secondary-color: #1189c5;
    --section-padding: 60px;
    --section-background: #f6f6f6;
}
/* End Variables */
/* Start Global Rules */
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    font-family: 'Work Sans', sans-serif;
}
.parent{
    background-color: #eee;
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left:auto;
    margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
    .container{
        width: 750px;
    }
}
/* Medium */
@media (min-width: 992px) {
    .container{
        width: 970px;
    }
}
/* Large */
@media (min-width: 1200px) {
    .container{
        width: 1170px;
    }
}
/* End Global Rules */
/* Start Components */
.special-heading{
    color: #ebeced;
    font-size: 100px;
    text-align: center;
    font-weight: 800px;
    letter-spacing: -3px;
    margin: 0;
}

.special-heading + p{
    margin: -30px 0 0;
    font-size: 20px;
    text-align: center;
    color: #777;
}

@media (max-width: 767px){
    .special-heading{
        font-size: 60px;
    }
    .special-heading + p{
        margin: -20px;
    }
}
/* End Components */
/* Start Header */



.header{
    padding: 20px;
}

.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo{
    width: 100px;
    margin-top: -20px;
}

.header .links{
    position: relative;
}

.header .links .icon{
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.header .links .icon span{
    background-color: #333;
    margin-bottom: 5px ;
    height: 2px;
}

.header .links .icon span:first-child{
    width: 100%;
}

.header .links .icon span:nth-child(2){
    width: 60%;
    transition: 0.3s;
}

.header .links:hover .icon span:nth-child(2){
    width: 100%;
}

.header .links .icon span:last-child{
    width: 100%;
}

.header .links ul{
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #f6f6f6;
    right: 0;
    position: absolute;
    min-width: 200px;
    top: calc(100% + 15px);
    display: none;
    z-index: 1;
}

.header .links:hover ul{
    display: block;
}

.header .links ul::before {
    content: "";
    border-width: 10px ;
    border-style: solid;
    border-color: transparent transparent #f6f6f6 transparent ;
    position: absolute;
    right: 5px;
    top: -20px;
}

.header .links ul li a{
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #333;
    transition: 0.3s;
}

.header .links ul li a:hover{
    padding-left: 25px;
}

.header .links ul li:not(:last-child) a{
    border: 1px solid #ddd;
}
/*------builds----*/

.builds{
    width: 20%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
    font-weight: bold;
}

.builds-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.builds-col img{
    width: 100%;
    display: inline;
}

.builds-col .images4{
    width: 150%;
    display: inline;

}

.layer{
    background:transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}
.layer:hover{
background: rgba(27, 94, 139, 0.7);
}
.layer h3{
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}
.layer:hover h3{
    bottom: 35%;
    opacity: 1;
}

/* Start Features */
.com_builds{
    padding-top: 60px;
    padding-bottom: 60px;
}

.com_builds .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    background-color: #f6f6f6;
    margin-left: -380px;
}

.com_builds .feat{
    padding: 10px;
    text-align: center;
}

.com_builds .container .feat i{
    color: var(--main-color);
    width: 100px;
}

.com_builds .feat h3{
    font-weight: 800px;
    margin: 30px 0;
}

.com_builds .feat p{
    line-height: 1.8;
    color: #777;
    font-size: 17px;
    text-align: left;
}
/* End Features */

.images{
    width: 310px;
}
/* Start Footer */
.footer{
    background-color: #2c4755;
    color: white;
    padding: 30px 10px;
    margin-bottom: 0%;
    text-align: center;
    font-size: 20px;
    height: 50px;
    padding-bottom: 6%;
}
.footer span{
    color: var(--main-color);
    font-weight: bold;
}
/* End Footer */
.top{
    border: 2px solid #eee;
    color: #eee;
    border-radius: 50px;
    background-color: #2c4755;
    margin: 3px;
    padding: 10px;
    float: right;
    transition: 0.3s;
}
.top:hover{
    border: 2px solid #2c4755;
    background-color: #eee;
    color: #2c4755;
    cursor: pointer;
}