/* Start Header */
.header{
    padding: 20px;
    border-bottom: 3px solid #10cab7;
    margin-bottom: 50px;
}

.container .header .back i{
    width: 20px;
    height: 20px;
    padding: 10px;
    transition: 0.1s;
}

.container .header .back i:hover{
    color: #098aca;
}

.back{
    text-decoration: none;
    font-size: 28px;
    color: #eee;
    transition: 0.3s;
    width: 100px;
    background-color: #098aca;
    border-radius: 10px;
    border: 2px solid #098aca;
    padding: 6px;
}

.back:hover{
    color: #098aca;
    background-color: #eee;
}

.header .logo{
    width: 150px;
    margin-left: 750px;
    
}
/* End Header */
/* Start Login Form */
.containerform{
    background-color:#2c4755;
    margin-top: -50px;
    height: 717px;
}

.spaceup{
    background-color:#2c4755;
    height: 30px;
}

.para3{
    font-size: 48px;
    color: #098aca;
    text-align: center;
    opacity: 50%;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

.para1,
.para2{
    color: #eee;
}

.label1{
    transition: 0.1s;
}

.label1:hover{
    color: #eee;
}
.input1{
    margin-left: 10px;
}
.input2{
    margin-left:  21px;
}
.formfather{
    background-color: #eee;
    width: 600px;
    height: 600px;
    margin: auto;
    padding-top: 20px;
    border: 5px solid;
    border-color: #098aca;
    border-radius: 20px;
}
.form{
    background-color: #2c4755;
    width: 400px;
    height: 330px;
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #098aca;
    border: 5px solid;
    border-color: #098aca;
    border-radius: 20px;
    box-shadow:#eee;
    margin: auto;
}
.buttons{
    border-radius: 10px;
    margin-left: 53px;
    font-size: 20px;
    font-weight: bold;
    width: 265px;
    height: 50px;
    background-color: #098aca;
    color: white;
    transition: 0.1s;
    border: 2px solid #098aca;
    text-decoration: none;
}

.buttons:hover{
    border: 2px solid #098aca;
    background-color: white;
    color: #098aca;
}

.space{
    border-bottom: 2px solid #eee;
    background-color: #098aca;
    width: 340px;
    margin-top: 20px;
} 

.lostpass{
    text-align: center;
    text-decoration: none;
    color: #098aca;
    margin-left: 130px;
    transition: 0.1s;
}

.lostpass:hover{
    color: #eee;
}

.header3{
    color: #eee;
    border-bottom: 2px solid #eee;
    width: 340px;
}

.register{
    border-radius: 10px;
    margin-left: 40px;
    font-size: 20px;
    font-weight: bold;
    width: 265px;
    height: 50px;
    background-color: #098aca;
    color: white;
    transition: 0.3s;
    border: 2px solid #098aca;
    text-decoration: none;
    padding: 12px;
    padding-left: 107px;
    padding-right: 107px;
}

.register a{
    border-radius: 10px;
    margin-left: 40px;
    font-size: 20px;
    font-weight: bold;
    width: 265px;
    height: 50px;
    background-color: #098aca;
    color: white;
    transition: 0.3s;
    border: 2px solid #098aca;
    text-decoration: none;
}

.register:hover{
    border: 2px solid #098aca;
    background-color: white;
    color: #098aca;
}
/* End Login Form */
