/* Start Header */
.header{
    padding: 20px;
    border-bottom: 3px solid #10cab7;
    margin-bottom: 50px;
}

.container .header .back i{
    width: 20px;
    height: 20px;
    padding: 10px;
    transition: 0.1s;
}

.container .header .back i:hover{
    color: #098aca;
}

.back{
    text-decoration: none;
    font-size: 28px;
    color: #eee;
    transition: 0.3s;
    width: 100px;
    background-color: #098aca;
    border-radius: 10px;
    border: 2px solid #098aca;
    padding: 6px;
}

.back:hover{
    color: #098aca;
    background-color: #eee;
}

.header .logo{
    width: 150px;
    margin-left: 710px;
    
}
/* End Header */
/* Start Lost Password form */
.containerform{
    background-color:#2c4755;
    margin-top: -50px;
    height: 802px;
}

.spaceup{
    background-color:#2c4755;
    height: 80px;
}

.para3{
    font-size: 48px;
    color: #098aca;
    text-align: center;
    opacity: 50%;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

.input1{
    margin-left: -26px;
    width: 100%;
    height: 35px;
    margin-bottom: 20px;
}

.formfather{
    background-color: #eee;
    width: 600px;
    height: 520px;
    margin: auto;
    padding-top: 20px;
    border: 5px solid;
    border-color: #098aca;
    border-radius: 20px;
}
.form{
    background-color: #2c4755;
    width: 400px;
    height: 250px;
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #098aca;
    border: 5px solid;
    border-color: #098aca;
    border-radius: 20px;
    box-shadow:#eee;
    margin: auto;
}
.buttons{
    border-radius: 10px;
    margin-left: 53px;
    font-size: 20px;
    font-weight: bold;
    width: 265px;
    height: 50px;
    background-color: #098aca;
    color: white;
    transition: 0.1s;
    border: 2px solid #098aca;
    text-decoration: none;
}

.buttons:hover{
    border: 2px solid #098aca;
    background-color: white;
    color: #098aca;
}

.header3{
    color: #eee;
    border-bottom: 2px solid #eee;
    width: 340px;
}
/* Start Lost Password form */